--extra-index-url https://www.paddlepaddle.org.cn/packages/stable/cu130/

customtkinter
PyMuPDF
python-docx
pdf2docx
Pillow
tkinterdnd2
paddleocr
paddlex[ocr]==3.7.2
paddlepaddle-gpu==3.3.0
numpy>=1.24,<2.4
pytest
